@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    margin: 0;
    padding: none;
    list-style-type: none;
    text-decoration: none;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    /* box-sizing:border-box; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* height: 100%; */

    height: 100vh;
    width: 100vw;
    background-image: url(bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    height: 80%;
    width: 80%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);

}

.navbar {
    height: 40px;
    width: 100%;
    /* background-color: rgba(128, 128, 128, 0.472); */
    display: flex;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 18%;
    background-color: #e1e4e6;
}

.right {
    height: 40px;
    width: 82%;
    background-color: #e1e4e6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.left img {
    height: 30px;

}

.main_container {
    height: 100%;
    width: 100%;
    display: flex;

}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.slider {
    height: 85%;
    width: 85%;
    /* background-color: #b8bd95; */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);

}

.slider img {
    height: 100%;
    width: 100%;
}

.side_container {
    height: 100%;
    width: 18%;
    background-color: #263517;
}

.side_container ul {
    height: 100%;
    width: 100%;
    margin-left: -40px;

}

.side_container ul li {
    height: 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    margin-left: 10px;

}

.side_container ul li a {

    color: #b8bd95;
}

.side_container ul li a:hover {
    color: #e1e4e6;
}

.side_container .home {
    display: flex;
    align-items: center;
    background-color: #7c2e7a;
    height: 40px;
    width: 100%;
}

.content {
    height: 100%;
    width: 82%;
    display: flex;
    flex-direction: column;
}

.main_content {
    height: 92%;
    width: 100%;

}

.end_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: #033333;

}

.end_navbar p {
    color: #bcdadc;

}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user p {
    color: #7c2e7a;
    font-weight: 700;
    /* font-size: 20px; */
}

.home_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_icon p {
    font-size: 10px;

}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more p {
    font-size: 10px;
}

@media (max-width: 768px) {
    .navbar {}

    .left img {
        height: 25px;
    }

    .background {
        width: 100%;
        height: 100%;
    }



    .main_content {
        width: 100%;
    }

    .side_container {
        height: 100%;
        width: 18%;
    }

    .content {
        width: 100%;
    }

    .side_container .home {

        height: 25px;
    }

    .side_container ul li {
        height: 30px;
        font-size: 10px;
        margin-left: 2px;
    }

    .end_navbar {
        font-size: 10px;
    }

    #bag {
        display: none;
    }

    #mail {
        display: none;
    }

    .user p {
        font-size: 12px;
        margin: 5px;
    }

    .home_icon {
        margin-top: 5px;
        height: 30px;
    }

    .more {
        margin-top: 5px;
        height: 30px;
    }

    .slider {
        height: 85%;
        width: 82%;

    }


}